# EARTH ENGINE
PROJECT_ID=your-cloud-project-id
GEE_AUTH_MODE=localhost

ASSET_GREEN_AREA=projects/${PROJECT_ID}/assets/your-rasters
ASSET_AIR=projects/${PROJECT_ID}/assets/your-rasters
ASSET_LST=projects/${PROJECT_ID}/assets/your-rasters

#LOCAL DATA
ASSET_DISTR_GDF=assets/districts.gpkg
ASSET_BLD=assets/buildings.gpkg
ASSET_ROADS=assets/roads.gpkg