.venv/
.env

__pycache__/
*.py[cod]

.ipynb_checkpoints/

.vscode/

Thumbs.db

results/SVAO/
results/UAO/*
!results/UAO/figures/

results/UAO/figures/*
!results/UAO/figures/air_pollution.png
!results/UAO/figures/integral.png

data