.venv/
.env

__pycache__/
*.py[cod]

.ipynb_checkpoints/

.vscode/

Thumbs.db

results/geopackages
results/tables
results/figures/*
!results/figures/air_pollution.png
!results/figures/integral.png

data